In [1]:
# Importing the libraries.

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing dataset.
dataset = pd.read_csv('Downloads\\Churn_Modelling.csv')
dataset.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [4]:
X = dataset.iloc[:,3:13]
y = dataset.iloc[:,13]

In [5]:
X.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
y.head(5)

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [7]:
# In our dataset both Geography and Gender feature are categorical. So, we need to convert this into dummy variables.
Geography = pd.get_dummies(X['Geography'],drop_first=True)
Gender = pd.get_dummies(X['Gender'],drop_first=True)

In [8]:
# Concatenate the Data Frame.

X = pd.concat([X,Geography,Gender],axis=1)

In [9]:
# Dropping unnecessary columns.
X = X.drop(['Geography','Gender'],axis=1)
X.head(5)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [10]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [11]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [13]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ...,  1.75486502,
        -0.57369368, -1.09168714],
       [-1.31490297,  0.10961719, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ..., -0.5698444 ,
         1.74309049,  0.91601335],
       [-0.00566991, -0.46460796, -0.33936434, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-0.79945688, -0.84742473,  1.04473698, ...,  1.75486502,
        -0.57369368,  0.91601335]])

In [14]:

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [15]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [16]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

Epoch 1/100
8000/8000 [==============================] - 5s 646us/step - loss: 0.4878 - accuracy: 0.8009
Epoch 2/100
8000/8000 [==============================] - 3s 327us/step - loss: 0.4066 - accuracy: 0.8260
Epoch 3/100
8000/8000 [==============================] - 2s 241us/step - loss: 0.3920 - accuracy: 0.8301
Epoch 4/100
8000/8000 [==============================] - 2s 221us/step - loss: 0.3843 - accuracy: 0.8305
Epoch 5/100
8000/8000 [==============================] - 2s 209us/step - loss: 0.3772 - accuracy: 0.8372
Epoch 6/100
8000/8000 [==============================] - 2s 226us/step - loss: 0.3737 - accuracy: 0.8432
Epoch 7/100
8000/8000 [==============================] - 2s 227us/step - loss: 0.3700 - accuracy: 0.8479
Epoch 8/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.3665 - accuracy: 0.8478
Epoch 9/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.3646 - accuracy: 0.8525
Epoch 10/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.3641 - accuracy: 0.8531
Epoch 11/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3609 - accuracy: 0.8518
Epoch 12/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3606 - accuracy: 0.8528
Epoch 13/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.3585 - accuracy: 0.8533
Epoch 14/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3572 - accuracy: 0.8554
Epoch 15/100
8000/8000 [==============================] - 2s 190us/step - loss: 0.3554 - accuracy: 0.8559
Epoch 16/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.3550 - accuracy: 0.8535
Epoch 17/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3537 - accuracy: 0.8561
Epoch 18/100
8000/8000 [==============================] - 2s 204us/step - loss: 0.3513 - accuracy: 0.8556
Epoch 19/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.3504 - accuracy: 0.8564
Epoch 20/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3493 - accuracy: 0.8572
Epoch 21/100
8000/8000 [==============================] - 2s 214us/step - loss: 0.3495 - accuracy: 0.8572
Epoch 22/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3492 - accuracy: 0.8577
Epoch 23/100
8000/8000 [==============================] - 2s 206us/step - loss: 0.3485 - accuracy: 0.8591
Epoch 24/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3489 - accuracy: 0.8569
Epoch 25/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3480 - accuracy: 0.8551
Epoch 26/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3472 - accuracy: 0.8566
Epoch 27/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3484 - accuracy: 0.8561
Epoch 28/100
8000/8000 [==============================] - 2s 213us/step - loss: 0.3469 - accuracy: 0.8565
Epoch 29/100
8000/8000 [==============================] - 2s 237us/step - loss: 0.3464 - accuracy: 0.8559
Epoch 30/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3469 - accuracy: 0.8545
Epoch 31/100
8000/8000 [==============================] - 2s 205us/step - loss: 0.3461 - accuracy: 0.8606
Epoch 32/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3461 - accuracy: 0.8585
Epoch 33/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3457 - accuracy: 0.8590
Epoch 34/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3457 - accuracy: 0.8591
Epoch 35/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3460 - accuracy: 0.8581
Epoch 36/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3455 - accuracy: 0.8602
Epoch 37/100
8000/8000 [==============================] - 2s 202us/step - loss: 0.3446 - accuracy: 0.8574
Epoch 38/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.3450 - accuracy: 0.8590
Epoch 39/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.3450 - accuracy: 0.8574
Epoch 40/100
8000/8000 [==============================] - 2s 204us/step - loss: 0.3455 - accuracy: 0.8561
Epoch 41/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3449 - accuracy: 0.8595
Epoch 42/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.3444 - accuracy: 0.8574
Epoch 43/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.3441 - accuracy: 0.8586
Epoch 44/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3432 - accuracy: 0.8576
Epoch 45/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3432 - accuracy: 0.8577
Epoch 46/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3431 - accuracy: 0.8593
Epoch 47/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3429 - accuracy: 0.8591
Epoch 48/100
8000/8000 [==============================] - 2s 214us/step - loss: 0.3432 - accuracy: 0.8574
Epoch 49/100
8000/8000 [==============================] - 2s 210us/step - loss: 0.3421 - accuracy: 0.8576
Epoch 50/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3410 - accuracy: 0.8602
Epoch 51/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3415 - accuracy: 0.8610
Epoch 52/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3411 - accuracy: 0.8596
Epoch 53/100
8000/8000 [==============================] - 2s 203us/step - loss: 0.3408 - accuracy: 0.8591
Epoch 54/100
8000/8000 [==============================] - 2s 203us/step - loss: 0.3416 - accuracy: 0.8585
Epoch 55/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3410 - accuracy: 0.8616
Epoch 56/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3398 - accuracy: 0.8615
Epoch 57/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3407 - accuracy: 0.8604
Epoch 58/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.3403 - accuracy: 0.8630
Epoch 59/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.3405 - accuracy: 0.8589
Epoch 60/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3398 - accuracy: 0.8616
Epoch 61/100
8000/8000 [==============================] - 2s 207us/step - loss: 0.3395 - accuracy: 0.8599
Epoch 62/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3403 - accuracy: 0.8611
Epoch 63/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3393 - accuracy: 0.8616
Epoch 64/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3403 - accuracy: 0.8615
Epoch 65/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3390 - accuracy: 0.8604
Epoch 66/100
8000/8000 [==============================] - 2s 191us/step - loss: 0.3396 - accuracy: 0.8597
Epoch 67/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3400 - accuracy: 0.8604
Epoch 68/100
8000/8000 [==============================] - 2s 219us/step - loss: 0.3389 - accuracy: 0.8614
Epoch 69/100
8000/8000 [==============================] - 2s 212us/step - loss: 0.3399 - accuracy: 0.8591
Epoch 70/100
8000/8000 [==============================] - 2s 207us/step - loss: 0.3391 - accuracy: 0.8626
Epoch 71/100
8000/8000 [==============================] - 2s 208us/step - loss: 0.3389 - accuracy: 0.8612
Epoch 72/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.3389 - accuracy: 0.8594
Epoch 73/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3387 - accuracy: 0.8616
Epoch 74/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.3392 - accuracy: 0.8615
Epoch 75/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.3392 - accuracy: 0.8620
Epoch 76/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3395 - accuracy: 0.8590
Epoch 77/100
8000/8000 [==============================] - 2s 209us/step - loss: 0.3391 - accuracy: 0.8606
Epoch 78/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.3386 - accuracy: 0.8618
Epoch 79/100
8000/8000 [==============================] - 1s 172us/step - loss: 0.3387 - accuracy: 0.8583
Epoch 80/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.3384 - accuracy: 0.8629
Epoch 81/100
8000/8000 [==============================] - 1s 176us/step - loss: 0.3383 - accuracy: 0.8595
Epoch 82/100
8000/8000 [==============================] - 1s 172us/step - loss: 0.3399 - accuracy: 0.8593
Epoch 83/100
8000/8000 [==============================] - 2s 213us/step - loss: 0.3381 - accuracy: 0.8591
Epoch 84/100
8000/8000 [==============================] - 3s 416us/step - loss: 0.3374 - accuracy: 0.8600
Epoch 85/100
8000/8000 [==============================] - 3s 387us/step - loss: 0.3381 - accuracy: 0.8624
Epoch 86/100
8000/8000 [==============================] - 4s 444us/step - loss: 0.3386 - accuracy: 0.8609
Epoch 87/100
8000/8000 [==============================] - 3s 411us/step - loss: 0.3374 - accuracy: 0.8621
Epoch 88/100
8000/8000 [==============================] - 4s 480us/step - loss: 0.3374 - accuracy: 0.8614
Epoch 89/100
8000/8000 [==============================] - 3s 412us/step - loss: 0.3380 - accuracy: 0.8605
Epoch 90/100
8000/8000 [==============================] - 3s 363us/step - loss: 0.3370 - accuracy: 0.8654
Epoch 91/100
8000/8000 [==============================] - 2s 268us/step - loss: 0.3378 - accuracy: 0.8625
Epoch 92/100
8000/8000 [==============================] - 2s 235us/step - loss: 0.3379 - accuracy: 0.8619
Epoch 93/100
8000/8000 [==============================] - 2s 204us/step - loss: 0.3378 - accuracy: 0.8616
Epoch 94/100
8000/8000 [==============================] - 2s 207us/step - loss: 0.3386 - accuracy: 0.8615
Epoch 95/100
8000/8000 [==============================] - 2s 208us/step - loss: 0.3380 - accuracy: 0.8621
Epoch 96/100
8000/8000 [==============================] - 2s 219us/step - loss: 0.3377 - accuracy: 0.8604
Epoch 97/100
8000/8000 [==============================] - 2s 206us/step - loss: 0.3373 - accuracy: 0.8610
Epoch 98/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.3382 - accuracy: 0.8585
Epoch 99/100
8000/8000 [==============================] - 2s 212us/step - loss: 0.3368 - accuracy: 0.8621
Epoch 100/100
8000/8000 [==============================] - 2s 231us/step - loss: 0.3379 - accuracy: 0.8609

In [17]:

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [18]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1502,   93],
       [ 192,  213]], dtype=int64)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8575